.button {
  color: #fff;
  outline: none;
  text-align: center;
  border: 0;
  padding: 0.6em 1em;
  text-decoration: none;
  line-height: 1;
  vertical-align: top;
  border-radius: 16px;
}

.button_blue {
  background-color: #1f84db
}

.button_red {
  background-color: #fb3a2f
}

.button_bold {
  font-weight: 700;
}

.button_normal {
  font-weight: 400;
}